[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "==1.14"
coloredlogs = "*"
h5py = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
ujson = "*"
dlib = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
